* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GENERAL */

a,
button {
  text-decoration: none !important;
  color: black;
}
a:hover {
  text-decoration: none !important;
  color: black;
}
.GRSI-Title {
  font-size: 5.6rem;
  transform: scaleY(1.4);
}
.lead {
  font-family: Open Sans;
}
.request-button {
  border-radius: 0;
  background: #ffffff;
  color: black;
  font-family: Open Sans;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 30px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 3px 20px -7px black;
}
.request-button:hover {
  padding: 12px 50px;
  box-shadow: 0px 3px 25px 0px rgb(97, 184, 255);
  background: #f8faff;
  color: black;
  /* transform: scale(1.05); */
  transition: all 0.5s ease-in-out;
}
.add-button {
  font-size: 1.5rem;
}

.wrap {
  min-height: calc(100vh - 380px);
  margin-bottom: 380px;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexDown {
  flex-direction: column;
}
.dark-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.dark-overlay2 {
  height: 100%;
  width: 100%;
  background: linear-gradient(black, transparent 6%), rgba(0, 0, 0, 0.65);
}
/* IMAGES */

.imgContent {
  width: 100%;
  object-fit: contain;
  background-color: white;
  box-shadow: 0px 10px 45px -15px black;
}
/* MODALS */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-open .modal {
  height: 70%;
}
.modal-dialog {
  width: 100%;
}
.modal-content {
  height: 100%;
}
.modal-btn {
  width: 100%;
  font-size: 1.5rem;
}
.close,
.close:hover,
.close:focus {
  background-color: white;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
}
@media (max-width: 576px) {
  .modal-open .modal {
    width: 90%;
  }
}
/* BORDER-STYLES */
.borderStyle {
  border-width: 0 0 5px 5px;
  border-style: solid;
  border-color: #cfcfcf;
}
.dropdown-borderStyle {
  border-bottom: 5px solid #c3c3c3 !important ;
}
.dropdown-item::before,
.nav-link::before {
  background-color: #c3c3c3 !important;
}
blockquote {
  border-left: 10px solid #c3c3c3;
}

/* NAVIGATION */
nav {
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s ease-in-out;
}
.nav-scroll {
  background-color: rgba(255, 255, 255, 0.94);
  transition: all 0.5s ease-in-out;
  color: white !important;
  box-shadow: 0px -5px 12px black;
}
#logoNav {
  height: auto;
  width: 180px;
  transition: all 0.5s ease-in-out;
}
.logoNav-scroll {
  width: 105px !important;
  transition: all 0.5s ease-in-out;
}
.nav-item,
.navbar-brand {
  padding: 0 5px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.5s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.5s ease-in-out;
}
.nav-link {
  text-transform: uppercase;
}
.nav-link,
.dropdown-item {
  font-family: Open Sans !important;
  font-size: 1.2rem;
  position: relative;
  padding-left: 10px !important;
  /* text-transform: uppercase; */
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}
.text-to-black {
  color: rgba(0, 0, 0, 0.8) !important;
  transition: all 0.5s ease-in-out;
}
.dropdown-item {
  background-color: white;
  padding: 5px 25px;
  color: rgba(0, 0, 0, 0.8) !important;
}
.dropdown-item::before,
.nav-link::before {
  content: '';
  left: 0;
  position: absolute;
  width: 5px;
  height: 0%;
  transition: all 0.5s ease-in-out;
}
.dropdown-item:hover::before {
  height: 109%;
  transition: all 0.5s ease-in-out;
}
.nav-link:hover::before {
  height: 70%;
  transition: all 0.5s ease-in-out;
}
.dropdown-menu,
.dropdown-menu-right {
  border: none;
  background-color: white;
}

/* LANDING */
.landingBG {
  width: 100%;
  height: 100vh;
  background: url('./img/Landing2.jpeg') no-repeat center;
  /* background: url('./img/Road2.jpeg') no-repeat center; */
  background-size: cover;
}

.landing-box {
  background-color: rgba(255, 255, 255, 0.95);
  width: 88%;
  max-width: 992px;
  font-family: Open Sans;
  box-shadow: 0px 0px 25px -8px black;
  transition: all 0.5s ease-in-out;
}
.landing-box:hover {
  transform: scale(1.03);
  transition: all 0.5s ease-in-out;
}
.landing-icon {
  font-size: 2rem;
  padding-bottom: 5px;
}
.landing-item {
  font-size: 1.1rem;
}

/* LANDING: SERVICES */
.landing-services {
  min-height: 100vh;
  position: relative;
}
.landing-services::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  z-index: -1;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
}
.service-icon {
  font-size: 5rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.service-icon-traffic {
  display: block;
  text-align: center;
  height: auto;
  width: 90px;
}
.traffic-text {
  margin-top: -10px;
}
.service-card {
  background: #fff;
  box-shadow: 0px 3px 20px -8px black;
  width: 95%;
  height: 95%;
  transition: all 0.5s ease-in-out;
}
.service-card:hover {
  background: #f8faff;
  font-size: 5.2rem !important;
  box-shadow: 0px 3px 25px 0px rgb(97, 184, 255);
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

/* LANDING: PHILOSOPHY */
.landing-philosophy {
  min-height: 130vh;
  background-color: #eee;
  position: relative;
}
.landing-philosophy::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
}
.landing-philosophy-box {
  position: relative;
  min-height: 85vh;
  background: url('img/CityRoad.jpeg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-philosophy-box::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.landing-philosophy-text {
  color: white;
  position: relative;
  z-index: 3;
}

/* LANDING: TESTIMONIALS */
.landing-testimonials {
  position: relative;
  min-height: 40vh;
}
blockquote {
  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C' '\201D' '\2018' '\2019';
  box-shadow: 0px 3px 20px -8px black;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
/* FOOTER */
footer {
  min-height: 380px;
  background: linear-gradient(rgb(0, 0, 0), transparent 90%),
    linear-gradient(0deg, black, transparent 60%),
    url('img/CityRoad2.jpeg') no-repeat center;
  background-size: cover;
  color: white;
  margin-top: -380px;
}

/* GENERAL BACKGROUND */
.general-BG {
  height: 100vh;
}
.contact-BG {
  height: 100vh;
}

.page-info {
  min-height: 100vh;
  position: relative;
}
.page-info::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  z-index: -1;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
}
.CrackSeal-wrap {
  background: linear-gradient(black, transparent 25%),
    url('img/CrackSeal.jpg') no-repeat center;
  background-size: cover;
}
.JointSeal-wrap {
  background: linear-gradient(black, transparent 25%),
    url('img/JointSeal.jpg') no-repeat center;
  background-size: cover;
}
.TrafficLoops-wrap {
  background: linear-gradient(black, transparent 25%),
    url('img/TrafficLoops.jpg') no-repeat center;
  background-size: cover;
}
.TrafficLights-wrap {
  background: linear-gradient(black, transparent 25%),
    url('img/TrafficLights.jpg') no-repeat center;
  background-size: cover;
}
.Testimonials-wrap {
  background: linear-gradient(black, transparent 25%),
    url('img/Testimonials.jpeg') no-repeat center;
  background-size: cover;
}
.History-wrap {
  background: linear-gradient(black, transparent 25%),
    url('img/Testimonials.jpeg') no-repeat center;
  background-size: cover;
}
.Contact-wrap {
  background: linear-gradient(black, transparent 25%),
    url('img/Contact.jpeg') no-repeat center;
  background-size: cover;
}
.Travels-wrap {
  background: linear-gradient(black, transparent 25%),
    url('img/About.jpeg') no-repeat center;
  background-size: cover;
}
.Mission-wrap {
  background: linear-gradient(black, transparent 25%),
    url('img/About.jpeg') no-repeat center;
  background-size: cover;
}
.Vision-wrap {
  background: linear-gradient(black, transparent 25%),
    url('img/About.jpeg') no-repeat center;
  background-size: cover;
}
.Goals-wrap {
  background: linear-gradient(black, transparent 25%),
    url('img/About.jpeg') no-repeat center;
  background-size: cover;
}
/* TESTIMONIALS */
.testimonial-item {
  max-width: 767px;
  position: relative;
}
.testimonial-delete {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 45px;
  right: 0;
  border-radius: 50%;
  box-shadow: 0px 3px 25px -3px black;
}
/* CRACK SEAL */

/* CONTACT */
form {
  max-width: 840px;
  text-align: center;
  margin: auto;
}
.contactButton {
  width: 100%;
  background-color: rgba(120, 120, 120, 0.7);
  border: none;
  font-size: 1.3rem;
  transition: all 0.5s ease-in-out;
}
.contactButton:hover {
  width: 100%;
  background-color: rgba(120, 120, 120, 0.9);
  border: none;
  font-size: 1.3rem;
  transition: all 0.5s ease-in-out;
}
.spinner {
  height: auto;
  width: 45px;
  margin: auto;
  display: block;
  margin-bottom: 15px;
}
/* ADMIN */
.admin-btn {
  font-size: 1.3rem;
  width: 250px;
  outline: 3px white solid;
  border: none;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}
.admin-btn:hover {
  outline: 3px rgba(0, 0, 0, 0) solid;
  outline-offset: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}
/* MEDIA QUERIES: NAV */
@media (max-width: 991px) {
  nav,
  .navbar-nav {
    background-color: #fff;
  }
  #logoNav {
    height: auto;
    width: 105px;
    transition: all 0.5s ease-in-out;
  }
}
/* MEDIA QUERIES: LANDING BOX */
@media (max-width: 480px) {
  .landing-box {
    display: none;
  }
}
/* MEDIA QUERIES: GRSI TITLE */
@media (max-width: 1440px) {
  .GRSI-Title {
    font-size: 5rem;
  }
}
@media (max-width: 1180px) {
  .GRSI-Title {
    font-size: 4rem;
  }
}
@media (max-width: 995px) {
  .GRSI-Title {
    font-size: 3.25rem;
  }
}
@media (max-width: 769px) {
  .GRSI-Title {
    font-size: 2.5rem;
  }
}
@media (max-width: 330px) {
  .landing-box {
    margin-top: 8rem;
  }
}
/* MEDIA QUERIES: CONTACT */

@media (max-width: 330px) {
  .contact-BG {
    min-height: 120vh;
  }
  /* .contact-title {
    margin-top: 50px;
  } */
}
@media (max-height: 660px) {
  .contact-BG {
    min-height: 120vh;
  }
}
/* MEDIA QUERIES: CONTAINER */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1640px) {
  .container {
    max-width: 1500px;
  }
}
@media (min-width: 1840px) {
  .container {
    max-width: 1650px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 95%;
    max-width: 677px;
  }
}

/* ANIMATION */
.fade {
  animation: fade 0.5s ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
