* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GENERAL */
a,
button {
  text-decoration: none !important;
}

.GRSI-Title {
  font-size: 4rem;
}

.lead {
  font-family: Raleway;
}

/* NAVIGATION */
nav {
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s ease-in-out;
  /* height: 115px; */
  color: white !important;
}
.nav-scroll {
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.5s ease-in-out;
  color: black !important;
  /* height: 80px; */
  box-shadow: 0px -5px 12px black;
}
#logoNav {
  height: auto;
  width: 160px;
  transition: all 0.5s ease-in-out;
}
.logoNav-scroll {
  height: auto;
  width: 110px !important;
  transition: all 0.5s ease-in-out;
}
.nav-item,
.navbar-brand {
  padding: 8px;
}

.nav-link,
.dropdown-item {
  font-family: Open Sans !important;

  font-size: 1.2rem;
  /* font-weight: bold; */
}
.dropdown-menu,
.dropdown-menu-right,
show {
  border: none;
  background-color: #f8f9fa;
}

/* LANDING */
.landingWrap {
  height: 200vh;
}
.landingBG {
  width: 100%;
  height: 100vh;
  background: url('./img/Road.jpeg') no-repeat center;
  background-size: cover;
  display: grid;
  place-items: center;
}
.dark-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.landing-box {
  background-color: rgba(255, 255, 255, 0.95);
  width: 88%;
  max-width: 820px;
  font-family: Open Sans;
  box-shadow: 0px 0px 25px -8px black;
}
.landing-icon {
  font-size: 2rem;
  padding-bottom: 5px;
}

.service-icon {
  font-size: 6rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* MEDIA QUERIES: NAV */

@media (max-width: 991px) {
  nav,
  .navbar-nav {
    background-color: #f8f9fa;
  }
}

/* MEDIA QUERIES: GRSI TITLE */

@media (max-width: 995px) {
  .GRSI-Title {
    font-size: 3rem;
  }
}
@media (max-width: 769px) {
  .GRSI-Title {
    font-size: 2rem;
  }
}
@media (max-width: 330px) {
  .landing-box {
    margin-top: 8rem;
  }
}

/* MEDIA QUERIES: CONTAINER */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
